<%- include("partials/header.ejs") %>
<body class="bg-light">
    <%- include("partials/nav.ejs") %>
    <div class="container mt-5">
        <h1>Welcome to ArgoVenture!</h1>
        <p>Discover your next project with ArgoVenture! Join our community and explore diverse projects and opportunities that will spike your interest.</p>
        <p>Whether you're looking to connect with like-minded people or spark new ideas, ArgoVenture is your go-to platform for making it happen!!!</p>

        <!-- Project Display Section -->
        <div class="row">
            <% projects.forEach(function(project) { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title"><%= project.project_name %></h5>
                            <p class="card-text"><%= project.project_description %></p>
                            <button class="btn btn-info like-button" data-project-id="<%= project.project_id %>" data-liked="<%= project.userLiked ? 'true' : 'false' %>">
                                Like <span><%= project.likes %></span>
                            </button>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <!-- Toggle Theme Button placed at the bottom-right of the page -->
    <div id="themeToggle" style="position: fixed; bottom: 20px; right: 20px;">
        <button class="btn btn-sm btn-outline-secondary" id="toggleTheme">Dark Mode</button>
    </div>

    <!-- Scripts -->
    <script type="module" src="/js/auth.js"></script>
    <script src="/js/likes.js"></script>
    <script src="/js/theme.js"></script>
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <%- include("partials/footer.ejs") %>
</body>
</html>